/* TABLET */
@media all and (min-width:720px) {
    body {
        margin: 0;
        padding: 0;
        font-family: 'Orbitron', sans-serif;
        background-color: #fff;
    }

    header {
        padding: 1rem;
        min-width: 100vw;
    }

    .menu {
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        gap: 50px;
        /* font-size: 30px; */
    }

    .menu__item {
        display: flex;
        align-items: center;
    }

    .material-icons-outlined {
        display: none;
    }

    .container {
        display: block;
    }

    /* edição conteudo TABLET*/
    .conteudo {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas:
            "fort fort fort ."
            "pubg slack wts ."
            "conteudo__categorias cs-go cs-go ."
        ;
    }

    .caixa {
        margin: 3px;
        background-color: #4582D9;
        /* height: 50vh;
        width: 300vw; */
    }


    .conteudo .conteudo__principal:nth-child(1) {
        grid-area: fort;
        background-image: url(img/fortnite.jpg);
        background-size: cover;
        background-position: top;
        width: 100vw;
        height: 50vh;
        display: flex;
        justify-content: center;
        align-items: end;
    }


    .conteudo .conteudo__secundario:nth-child(2) {
        grid-area: pubg;
        background-image: url(img/pubg.jpg);
        background-position: top;
        background-size: cover;
        width: 33vw;
        height: 38vh;
        display: flex;
        justify-content: center;
        align-items: end;
    }

    .conteudo .conteudo__secundario:nth-child(3) {
        grid-area: slack;
        background-image: url(img/slack.png);
        background-size: cover;
        background-position: center;
        width: 33vw;
        height: 38vh;
        display: flex;
        justify-content: center;
        align-items: end;
    }

    .conteudo .conteudo__secundario:nth-child(5) {
        grid-area: cs-go;
        background-image: url(img/cs-go.jpg);
        background-size: cover;
        width: 67vw;
        height: 30vh;
        display: flex;
        justify-content: center;
        align-items: end;
        margin: 0;
    }

    .conteudo .conteudo__secundario:nth-child(6) {
        grid-area: wts;
        background-image: url(img/whatsapp.png);
        background-size: cover;
        background-position: center;
        width: 33vw;
        height: 38vh;
        display: flex;
        justify-content: center;
        align-items: end;
    }

    /* edição da opacidade da escrita  */
    .conteudo__titulo {
        color: #fff;
        background-color: rgba(0, 0, 0, 0.5);
        width: 100%;
        margin: 0 0;
        padding: 1rem;
        display: flex;
        justify-content: center;
    }

    /* edição do 2 grid TABLET */
    .conteudo .conteudo__categorias:nth-child(4) {
        grid-area: conteudo__categorias;
        width: auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas:
            "um dois"
            " tres quatro"
        ;
    }

    .botao {
        margin: 3px;
        height: 15vh;
        width: 16vw;
        cursor: pointer;
        display: flex;
        justify-content: start;
    }

    a {
        text-decoration: none;
    }



    .um {
        grid-area: um;
    }

    .dois {
        grid-area: dois;
    }

    .tres {
        grid-area: tres;
    }

    .quatro {
        grid-area: quatro;
    }

}

